includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    scanFiles:
        - stubs/Plugin.stub
    phpVersion: 80300
    paths:
        - better-typography.php
        - classes
        - tests
    excludePaths:
        analyse:
            - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
